[Desktop Entry]
Name=mesh
Comment=Instant messaging and VoIP application
Exec=app.mesh.mesh %U
Terminal=false
Type=Application
Icon=app.mesh.mesh
Categories=Network;InstantMessaging;
StartupWMClass=app.mesh.mesh
