[Desktop Entry]
Name=BetterCord
Comment=Instant messaging and VoIP application
Exec=app.bettercord.BetterCord %U
Terminal=false
Type=Application
Icon=app.bettercord.BetterCord
Categories=Network;InstantMessaging;
StartupWMClass=app.bettercord.BetterCord
